/* clear float */
.clear-float:after,
.clear-float:before {
    content: "";
    display: table;
    clear: both;
}

/* button add for general action in admin panel */
.box-body a.general-action {
    font-size: 18px;
    padding: 4px 10px;
    color: white;
    margin-bottom: 20px;
}

/* button multiple delete */
.box-body a.multiple-delete {
    background: #C62828;
    display: none;
}

.box-body a.add {
    background: #3c8dbc;
}

.modal-dialog {
    background: #FFF;
}

/* box body */
.box {
    border-radius: 0;
}

.content-header > .breadcrumb {
    position: initial;
}

.btn-flat {
    border-radius: 0;
}

.btn {
    margin: 0 3px;
}

/* alert in form */
.redalert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.nonmodalalert {
    display: none;
}
.greenalert {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.modalalert {
    overflow: auto;
    margin: 0 auto;
}

/* give margin between input group in form */
.input-group {
    margin-bottom: 20px;
}

/* info number, vertical align */
.info-box-number {
    padding-top: 27px;
}